body {
    color: white;
    text-align: center;
    padding-top: 150px;
}

.hidden {
    display: none;
}

div #todo {
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

input {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid floralwhite;
    transition: all, 0.4s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 70%; 
}

#todo-list li {
    margin-top: 10px;
    margin-left: 30%;
    text-align: left;
    font-size: 150%;
}

#todo-list button {
    float: right;
    margin-right: 45%;
}

#todo-list span {
    size: 200%;
}

img {
    position:fixed;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
}

#clock {
    color: white;
    font-size: 800%;
    margin: 0 0 0 0;
}

#greeting {
    color: white;
    font-size: 200%;
}

#quote {
    position: fixed;
    bottom: 10px;
    left: 25%;
    right: 25%;
}

#weather {
    font-size: 120%;
    position: fixed;
    top: 10px;
    right: 15px;
    opacity: 80%;
}

button {
    margin-left: 8px;
    background-color: transparent;
    border-radius: 20%;
}